{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Cadastro de funcionário</h1>
    <hr>
    <main class="container mt-5">
        {% form_theme form with 'bootstrap_4_layout.html.twig' %}
        {% form_theme form.endereco with 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form, {"attr":{"novalidate":"novalidate"}}) }}
        {{ form_widget(form) }}
        <br>
        {{ form_end(form) }}
    </main>
{% endblock %}