{% extends 'base.html.twig' %}

{% block title %}Edição de Funcionário {% endblock %}

{% block body %}
    <h1>Edição de funcionário

    </h1>
    {% include 'funcional/_form.html.twig' %}
{% endblock %}