{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Gerenciador de Informações</h1>
            <p class="lead">Seja bem vindo!</p>
        </div>
    </div>
{% endblock %}
