{% extends 'login_base.html.twig' %}

{% block body %}
    {% if error %}
        <div>
            {{ error.messageKey | trans (error.messageData, 'security') }}
        </div>
    {% endif %}

    <form class="form-signin" method="post" action="{{ path('login') }}">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Acesso</h1>
        <input type="text" name="_username" id="username" value="{{ last_username }}" class="form-control" placeholder="informe seu nome" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="_password" id="Password" class="form-control" placeholder="informe sua senha" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> lembrar
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">entrar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

{% endblock %}