{% extends 'base.html.twig' %}

{% block title %}Edição de Funcionário {% endblock %}

{% block body %}
    <h1>
        Edição de secretaria
    </h1>
    {{ include('secretaria/_form.html.twig') }}
{% endblock %}