<h1 class="display-3">Relatório de Funcionarios</h1>
<br>
<table class=" table table-striped table-hover xmlns= http://www.w3.org/1999/html">
<tbody>
<thead>
<tr>
    <th>Mat.</th>
    <th>Nome</th>
    <th>Cargo</th>
    <th>Status</th>
    <th>Data de admissão</th>
    <th>Data de exoneração</th>
</tr>
</thead>
</tbody>

</tbody>
{% for funcionario in funcionarios %}
    <tr>
        <td>{{ funcionario.id }}</td>
        <td>{{ funcionario.nome }}</td>
        <td> {% if funcionario.cargo == "C" %}
                <p>Comissionado</p>
            {% elseif funcionario.cargo == "E" %}
                <p>Efetivo</p>
            {% endif %}
        </td>
        <td> {% if funcionario.status == "A" %}
                <p>Ativo</p>
            {% elseif funcionario.status == "E" %}
                <p>Exonerado</p>
            {% endif %}</td>
        <td>{{ funcionario.dataAdmissao|date('d/m/Y') }}</td>
        <td>{{ funcionario.dataExoneracao == '' ? '' : funcionario.dataExoneracao|date('d/m/Y') }}</td>

    </tr>
{% else %}
    <tr>
        <td colspan="18">no records found</td>
    </tr>
    </tbody>
</table>
{% endfor %}


