{% extends 'base.html.twig' %}

{% block title %}Relatórios - {% endblock %}

{% block body %}

    <h1>Relatório de Secretarias</h1>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th>Total de Salário</th>
            <th>Secretaria</th>
        </tr>
        </thead>
        <tbody>
        {% for totalSalarioLiquido in totalSalariosLiquido %}
            <tr>
                <td>{{ totalSalarioLiquido.total|number_format(2, ',', '.') }}</td>
                <td>{{ totalSalarioLiquido.nome }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="form-group col-12">
            <a href='{{ path('secretaria_pdf') }}' class="btn btn-primary btn-sm">Gerar PDF</a>
        </div>
    </div>
    <a href='{{ path('relatorio') }}' class="btn btn-primary btn-sm">Voltar</a>


{% endblock %}