<html>
<head>
    <meta charset="utf-8">
    <title>
        admin Page
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">

            {% if is_granted("ROLE_OPERADOR") %}
                <a href="{{ path('admin') }}" class="btn btn-default"></a>
            {% endif %}
            {% if is_granted("ROLE_OPERADOR") %}
                <a href="{{ path('funcional') }}" class="btn btn-default"></a>
            {% endif %}
            {% if is_granted("ROLE_GERENTE") %}
                <a href="{{ path('secretaria') }}" class="btn btn-default"></a>
            {% endif %}
            {% if is_granted("ROLE_GERENTE") %}
                <a href="{{ path('relatorio') }}" class="btn btn-default"></a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block body %}
        </div>

    </div>
</div>

</body>
</html>
