{% extends 'base.html.twig' %}

{% block title %}Adicionar{% endblock %}

{% block body %}
    <h1>Adicionar</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-default" href="{{ path('user_index') }}">voltar</a>
{% endblock %}